<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add json</title>
</head>
<body>
    {% block body %}
      <h2>Add data:</h2>
      {% if error %}<h1 class=error><strong>Message:</strong> {{ error }}</h1>{% endif %}
      <form action="{{ url_for('add_json')}}" method="post">
        <dl>
            <dt>*Zip Code:</dt>
            <dd><input type="text" name="zip_code"></dd>

            </br>
            <h3>Building Data:</h3>
            <dt>*Street Number:</dt>
            <dd><input type="text" name="street_number"></dd>
            <dt>*Street Name:</dt>
            <dd><input type="text" name="street_name"></dd>
            <dt>*Street Type:</dt>
            <dd><input type="text" name="street_type"></dd>
            <dt>*City:</dt>
            <dd><input type="text" name="city"></dd>
            <dt>*State:</dt>
            <dd><input type="text" name="state"></dd>
            <dt>Street Direction:</dt>
            <dd><input type="text" name="street_direction"></dd>
            <dt>Latitude:</dt>
            <dd><input type="text" name="latitude"></dd>
            <dt>Longitude:</dt>
            <dd><input type="text" name="longitude"></dd>
            <dt>Walk Score:</dt>
            <dd><input type="text" name="walk_score"></dd>

            </br>
            <h3>Listing Data:</h3>
            <dt>*Unit Number:</dt>
            <dd><input type="text" name="unit_number"></dd>
            <dt>Bedrooms Number:</dt>
            <dd><input type="text" name="num_bedrooms"></dd>
            <dt>Bathrooms Number:</dt>
            <dd><input type="text" name="num_bathrooms"></dd>
            <dt>Month Available:</dt>
            <dd><input type="text" name="month_available"></dd>
            <dt>Day Available:</dt>
            <dd><input type="text" name="day_available"></dd>
            <dt>Laundry:</dt>
            <dd><input type="checkbox" name="laundry"></dd>
            <dt>Balcony:</dt>
            <dd><input type="checkbox" name="balcony"></dd>
            <dt>Hardwood Floor:</dt>
            <dd><input type="checkbox" name="hardwood"></dd>
            <dt>Garbage Disposal:</dt>
            <dd><input type="checkbox" name="garbage_disposal"></dd>
            <dt>Dishwasher:</dt>
            <dd><input type="checkbox" name="dishwasher"></dd>
            <dt>Pet Friendly:</dt>
            <dd><input type="checkbox" name="pet_friendly"></dd>
            <dt>Air Conditioning:</dt>
            <dd><input type="checkbox" name="air_conditioning"></dd>
            <dt>Stove:</dt>
            <dd><input type="checkbox" name="stove"></dd>
            <dt>Range:</dt>
            <dd><input type="checkbox" name="range"></dd>

            </br>
            <h3>Price Data:</h3>
            <dt>Quoted Price:</dt>
            <dd><input type="text" name="quoted_price"></dd>
            <dt>*Lease Term:</dt>
            <dd><input type="text" name="lease_term"></dd>
            <dt>*Listing Date:</dt>
            <dd><input type="text" name="listing_date"></dd>


            </br></br></br>
            <dt>Ignore whitelist:</dt>
            <dd><input type="checkbox" name="ignore_whitelist"></dd>

            <dd><input type=submit value="Add Data">
        </dl>
      </form>
    {% endblock %}
</body>
</html>